In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Load the data
data = pd.read_csv("airbnb_listing_train.csv")
data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,11602914,Luxury home 100m2+garden in center!,3123809,Marjolein,NaN,De Pijp - Rivierenbuurt,52.35368,4.90177,Entire home/apt,3,13,15-02-2020,0.27,1,0,220
1,13289321,East is where your home is!,10259430,Ana,NaN,Oud-Oost,52.35728,4.92052,Entire home/apt,4,14,19-06-2019,0.29,1,0,110
2,40779315,Amsterdam Central - LUXURY house in BUSY STREET,224969266,Mark,NaN,Centrum-West,52.37582,4.89850,Entire home/apt,2,9,16-03-2020,1.65,1,7,100
3,7820311,great appartment down town,693472,Ayden,NaN,Westerpark,52.37792,4.87300,Entire home/apt,3,42,17-02-2020,0.72,1,0,130
4,27346603,Private room with canal view in peaceful area,41888346,Alissa,NaN,Westerpark,52.38051,4.87493,Private room,2,89,26-02-2020,4.02,1,24,90

In [3]:
#Find the shape of the Data
print("SHAPE: ",data.shape)

print('*******************************')

# Checking for any missing values
print(data.isnull().any())

SHAPE:  (12901, 16)
*******************************
id                                False
name                               True
host_id                           False
host_name                          True
neighbourhood_group                True
neighbourhood                     False
latitude                          False
longitude                         False
room_type                         False
minimum_nights                    False
number_of_reviews                 False
last_review                        True
reviews_per_month                  True
calculated_host_listings_count    False
availability_365                  False
price                             False
dtype: bool

In [4]:
data.describe()

,id,host_id,neighbourhood_group,latitude,longitude,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365,price
count,1.290100e+04,1.290100e+04,0.0,12901.000000,12901.000000,12901.000000,12901.000000,11305.000000,12901.000000,12901.000000,12901.000000
mean,1.984923e+07,6.321700e+07,NaN,52.365313,4.889744,3.542516,24.803194,0.748501,2.136501,61.392295,166.959538
std,1.216241e+07,8.010814e+07,NaN,0.016418,0.036016,15.154077,53.406134,1.260791,6.001838,107.988329,234.794630
min,2.016800e+04,3.592000e+03,NaN,52.289270,4.755720,1.000000,0.000000,0.010000,1.000000,0.000000,6.000000
25%,9.869642e+06,8.948269e+06,NaN,52.355190,4.863950,2.000000,2.000000,0.180000,1.000000,0.000000,99.000000
50%,1.874939e+07,2.711601e+07,NaN,52.364570,4.887130,2.000000,9.000000,0.380000,1.000000,0.000000,135.000000
75%,2.914232e+07,8.337686e+07,NaN,52.375110,4.909310,3.000000,24.000000,0.770000,1.000000,87.000000,190.000000
max,4.370900e+07,3.490175e+08,NaN,52.425090,5.018400,1001.000000,843.000000,50.000000,78.000000,365.000000,9000.000000

In [5]:
data.isnull().sum() / len(data) * 100

id                                  0.000000
name                                0.170529
host_id                             0.000000
host_name                           0.062011
neighbourhood_group               100.000000
neighbourhood                       0.000000
latitude                            0.000000
longitude                           0.000000
room_type                           0.000000
minimum_nights                      0.000000
number_of_reviews                   0.000000
last_review                        12.371134
reviews_per_month                  12.371134
calculated_host_listings_count      0.000000
availability_365                    0.000000
price                               0.000000
dtype: float64

In [6]:
data=data.drop(['neighbourhood_group'],axis=1)
data

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,price
0,11602914,Luxury home 100m2+garden in center!,3123809,Marjolein,De Pijp - Rivierenbuurt,52.35368,4.90177,Entire home/apt,3,13,15-02-2020,0.27,1,0,220
1,13289321,East is where your home is!,10259430,Ana,Oud-Oost,52.35728,4.92052,Entire home/apt,4,14,19-06-2019,0.29,1,0,110
2,40779315,Amsterdam Central - LUXURY house in BUSY STREET,224969266,Mark,Centrum-West,52.37582,4.89850,Entire home/apt,2,9,16-03-2020,1.65,1,7,100
3,7820311,great appartment down town,693472,Ayden,Westerpark,52.37792,4.87300,Entire home/apt,3,42,17-02-2020,0.72,1,0,130
4,27346603,Private room with canal view in peaceful area,41888346,Alissa,Westerpark,52.38051,4.87493,Private room,2,89,26-02-2020,4.02,1,24,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12896,20757739,Quiet stylish private room 15 mins to city ce...,63932037,Michelle,De Baarsjes - Oud-West,52.37194,4.84965,Entire home/apt,1,1,13-09-2017,0.03,1,88,65
12897,1055570,"Beautiful, spacious apt. with great views @ IJ...",5813322,Rens,IJburg - Zeeburgereiland,52.36263,4.98031,Entire home/apt,7,238,25-02-2020,2.75,1,357,160
12898,13178435,Great apartment de Pijp/Albert Cuyp,46370427,Francien,De Pijp - Rivierenbuurt,52.35719,4.90009,Entire home/apt,3,15,07-10-2018,0.31,1,0,180
12899,21963760,Stylish apartment in an amazing location,4895882,Olaf,Zuid,52.34855,4.85105,Entire home/apt,2,11,28-04-2019,0.37,1,0,136
12900,33726315,Amsterdam Apartments First Floor,203460948,City,Centrum-Oost,52.35865,4.89795,Hotel room,5,1,17-02-2020,0.26,11,365,337

In [7]:
# filling the null values with mean.
data['name'].fillna(data['name'].mode()[0], inplace=True)
data['host_name'].fillna(data['host_name'].mode()[0],inplace=True)
data['reviews_per_month'].fillna(data['reviews_per_month'].mean(),inplace=True)

In [8]:
data.nunique()

id                                12901
name                              12653
host_id                           11601
host_name                          4536
neighbourhood                        22
latitude                           5227
longitude                          7887
room_type                             4
minimum_nights                       56
number_of_reviews                   362
last_review                        1495
reviews_per_month                   611
calculated_host_listings_count       26
availability_365                    366
price                               400
dtype: int64

In [9]:
# Taking the necessary columns in data
necessary = ['host_name', 'neighbourhood','room_type','minimum_nights', 'number_of_reviews',
       'reviews_per_month', 'availability_365','calculated_host_listings_count','price']
data = data[necessary]
data.head()

,host_name,neighbourhood,room_type,minimum_nights,number_of_reviews,reviews_per_month,availability_365,calculated_host_listings_count,price
0,Marjolein,De Pijp - Rivierenbuurt,Entire home/apt,3,13,0.27,0,1,220
1,Ana,Oud-Oost,Entire home/apt,4,14,0.29,0,1,110
2,Mark,Centrum-West,Entire home/apt,2,9,1.65,7,1,100
3,Ayden,Westerpark,Entire home/apt,3,42,0.72,0,1,130
4,Alissa,Westerpark,Private room,2,89,4.02,24,1,90

In [10]:
# Specify the column(s) containing numerical data
numerical_columns = ['minimum_nights', 'number_of_reviews', 'reviews_per_month',
                     'calculated_host_listings_count','availability_365','price']

# Calculate the IQR for each numerical column
Q1 = data[numerical_columns].quantile(0.25)
Q3 = data[numerical_columns].quantile(0.75)
IQR = Q3 - Q1

# Define the threshold to identify outliers
threshold = 1.5

# Identify the outliers based on the IQR threshold
outliers = ((data[numerical_columns] < (Q1 - threshold * IQR)) |
            (data[numerical_columns] > (Q3 + threshold * IQR))).any(axis=1)

# Remove the outliers from the dataset
filtered_data = data[~outliers]

In [11]:
print(filtered_data.shape)
data.shape

(7381, 9)

(12901, 9)

In [12]:
# label encoding on dataset
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
le

LabelEncoder()

In [13]:
col=['host_name','neighbourhood']
for i in col:
    filtered_data[i] = le.fit_transform(filtered_data[i])
data.head()

,host_name,neighbourhood,room_type,minimum_nights,number_of_reviews,reviews_per_month,availability_365,calculated_host_listings_count,price
0,Marjolein,De Pijp - Rivierenbuurt,Entire home/apt,3,13,0.27,0,1,220
1,Ana,Oud-Oost,Entire home/apt,4,14,0.29,0,1,110
2,Mark,Centrum-West,Entire home/apt,2,9,1.65,7,1,100
3,Ayden,Westerpark,Entire home/apt,3,42,0.72,0,1,130
4,Alissa,Westerpark,Private room,2,89,4.02,24,1,90

In [14]:
# feature Encoding on the dataset
df = pd.get_dummies(filtered_data, columns=['room_type'])
df.head()

,host_name,neighbourhood,minimum_nights,number_of_reviews,reviews_per_month,availability_365,calculated_host_listings_count,price,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,2023,8,3,13,0.270000,0,1,220,1,0,0,0
1,123,17,4,14,0.290000,0,1,110,1,0,0,0
3,286,20,3,42,0.720000,0,1,130,1,0,0,0
5,2811,4,2,53,0.850000,0,1,119,1,0,0,0
6,747,4,2,0,0.748501,0,1,225,1,0,0,0

In [15]:
# Feature scaling on dataset
from sklearn.preprocessing import RobustScaler
rs = RobustScaler()
rs

RobustScaler()

In [16]:
col=['host_name','neighbourhood','minimum_nights','number_of_reviews', 'availability_365',
     'calculated_host_listings_count','price']
df[col] = rs.fit_transform(df[col])
df.head()

,host_name,neighbourhood,minimum_nights,number_of_reviews,reviews_per_month,availability_365,calculated_host_listings_count,price,room_type_Entire home/apt,room_type_Hotel room,room_type_Private room,room_type_Shared room
0,0.202434,0.0,1.0,0.428571,0.270000,0.0,0.0,1.184211,1,0,0,0
1,-1.014734,0.9,2.0,0.500000,0.290000,0.0,0.0,-0.263158,1,0,0,0
3,-0.910314,1.2,1.0,2.500000,0.720000,0.0,0.0,0.000000,1,0,0,0
5,0.707239,-0.4,0.0,3.285714,0.850000,0.0,0.0,-0.144737,1,0,0,0
6,-0.614990,-0.4,0.0,-0.500000,0.748501,0.0,0.0,1.250000,1,0,0,0

In [17]:
# Split the data into training and testing sets
from sklearn.model_selection import train_test_split
X = df.drop(['price'], axis=1)
y = df['price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [18]:
# Build and train a linear regression model
from sklearn.linear_model import LinearRegression
lr = LinearRegression()
lr

LinearRegression()

In [19]:
lr.fit(X_train, y_train)

LinearRegression()

In [20]:
y_pred = lr.predict(X_test)

In [21]:
# Calculate the Accuracy
from sklearn.metrics import r2_score
r2 = r2_score(y_test, y_pred)
print("r2_score:", r2)

r2_score: 0.15567788885012945